.chooseList {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 15px;
  margin-bottom: 26px;
}

.customCheckbox {
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
  position: relative;

  input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
  }

  span {
    width: 21px;
    height: 21px;
    border-radius: 4px;
    background-color: var(--bg-second);
    pointer-events: none;
    transition: all .15s;
    border: 2px solid transparent;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    color: var(--text-second);
    pointer-events: none;
  }
}

.customCheckbox:has(input:checked) {
  span {
    background-color: var(--bg-second);
    position: relative;
    border: 2px solid var(--btn-dark);

    &:after {
      position: absolute;
      content: '';
      left: 50%;
      top: 45%;
      transform: translateX(-50%) translateY(-50%) rotateZ(-45deg);
      width: 10px;
      height: 6px;
      border-bottom: 2px solid var(--btn-dark);
      border-left: 2px solid var(--btn-dark);
    }
  }

  p {
    font-weight: 700;
  }
}

.disabled {
  opacity: 0.5;
}