:root {
  --bg-main: #D9D1E0;
  --bg-second: #F1EEF3;
  --bh-nav: #30223C;

  --text-primary: #201827;
  --text-second: #444444;
  --text-label: #888888;

  --border-radius-S: 4px;
  --border-radius-M: 6px;
  --border-radius-L: 12px;

  --btn-dark: #573971;
}